<div>
    <input type="number" id="year" />
    <canvas id="myChart"></canvas>
    <input id="barvalue" type="number" />
    <input id="trackerDate" type="date" />
    <button id="weightTrackerButton">
        Add weight
    </button>
</div>
<div id="weightdata">

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="/js/homepage.js"></script>