
<head>
    <title>Flexcellent Dashboard</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.0.2/css/pico.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style.css" />
</head>


<body>
  <div>
      <input type="number" id="year" />
      <canvas id="myChart"></canvas>
      <input id="barvalue" type="number" />
      <input id="trackerDate" type="date" />
      <button id="weightTrackerButton">
          Add weight
      </button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script
      src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
  <script src="/js/homepage.js"></script>
</body>

