<img id="logo">

<h2>Create Your Free Account</h2>
<p>Ready to be flexcellent? Create your profile.</p>

<form class="form signup-form">
  <div class="form-group">
    <label for="name-signup">name</label>
    <input class="form-input" type="text" id="name-signup" />
  </div>
  <div class="form-group">
    <label for="email-signup">email</label>
    <input class="form-input" type="text" id="email-signup" />
  </div>
  <div class="form-group">
    <label for="password-signup">create a password</label>
    <input class="form-input" type="password" id="password-signup" />
  </div>
  <div class="form-group">
        <label for="confirm-password-signup">Confirm Password:</label>
        <input class="form-input" type="password" id="confirm-password-signup" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Let's do this</button>
  </div>
  <p id="show-login-form">Back to <a href="/login">login</a></p>
</form>

<script src="/js/signup.js" type="text/javascript"></script>