<!DOCTYPE html>
<html lang="en">
<head>
        <title>My Workouts</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <button id="newCard" onclick="createCard()">New Workout</button>
    <div class="workouts">
        
    </div>
    {{!-- <div class = "workoutCard">
        <button id = "workbtn">Start Today's Lift!</button>
        <br>
        <form id = "workForm">
            <label for="exercise">Exercise</label>
            <input type="text" id="exercise" name="exercise"><br><br>
            <label for="sets">Sets</label>
            <input type="text" id="sets" name="sets"><br>
            <label for="reps">Reps</label>
            <input type="text" id="reps" name="reps"><br>
            <label for="weight">Weight</label>
            <input type="text" id="weight" name="weight"><br><br>
            <input type="submit" value="Save">
        </form>
    </div> --}}
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    <script src="/js/workouts.js" type="text/javascript"></script>
</body>
</html>