<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add a Workout | Flexcellent</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.0.2/css/pico.min.css">
    <link rel="stylesheet" href="/css/workouts-stylesheet.css" />
    <link rel="stylesheet" href="/css/master-stylesheet.css" />
</head>
<body>

    <form action="/addWorkouts" method="GET">
      <label for="muscleGroup">Muscle Focus For Today:</label>
      <select name="muscleGroup" id="muscleGroup" class="muscleDrop">
        {{#each muscleGroups}}
          <option value="{{value}}" id="{{id}}">{{label}}</option>
        {{/each}}
      </select>
    </form>

    <div id = "newCard" >
        <div class = "workouts">
            {{!-- forms are being rendered in through js --}}
        </div>
    </div>
    <div class="dualbtn">
        <button class = "newExc" onclick="createCard()">New Exercise</button>
        <button class = "savebtn">Save Workout</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    <script src="/js/workouts.js" type="text/javascript"></script>
</body>
</html>
