main{
  color:var(--ghost);
}

label{
  color:var(--ghost);
}

#muscleGroup{
  color:var(--ghost);
  background-color: var(--lighterOldBlack);
  border-color: var(--neonFuchsia);
}

#muscleGroup:hover{
  box-shadow: 2px 2px 20px var(--neonFuchsia);
}

#getExercises{
  margin-bottom:50px;
}

#getExercises, #getRandomExercises {
  background-color: var(--lighterOldBlack);
  color:var(--ghost);
  border-color: var(--neonFuchsia);
  text-shadow: none;
  box-shadow: none;
}

#getExercises:hover, #getRandomExercises:hover{
  box-shadow: 3px 3px 25px var(--neonFuchsia);
  background-color: var(--neonFuchsia);
  color:var(--oldBlack);
  font-weight: bold;
}

.card {
    background-color: var(--lighterOldBlack);
    border: 2px solid var(--neonFuchsia);
    box-shadow: 2px 2px 20px var(--neonFuchsia);  
}
  
.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
  