main{
  color:var(--ghost);
}

label{
  color:var(--ghost);
}

#muscleGroup{
  color:var(--ghost);
  background-color: var(--lighterOldBlack);
  border-color: var(--neonFuchsia);
}

#muscleGroup:hover{
  box-shadow: 2px 2px 20px var(--neonFuchsia);
}

#getExercises{
  margin-bottom:50px;
}

#getExercises, #getRandomExercises {
  background-color: var(--lighterOldBlack);
  color:var(--ghost);
  border-color: var(--neonFuchsia);
  text-shadow: none;
  box-shadow: none;
}

#getExercises:hover, #getRandomExercises:hover{
  box-shadow: 3px 3px 25px var(--neonFuchsia);
  background-color: var(--neonFuchsia);
  color:var(--oldBlack);
  font-weight: bold;
}

.card {
    background-color: var(--lightObsidian);
    border: 2px solid var(--pink);
    box-shadow: 0 0 5px var(--pink), 0 0 10px var(--pink), 0 0 15px var(--pink), 0 0 20px var(--magenta), 0 0 35px var(--magenta), 0 0 40px var(--magenta), 0 0 50px var(--magenta), 0 0 75px var(--purple);
  }
  
.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
  