header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body{
    margin:0;
    height: 100%;
    overflow: hidden;
}

#tittle {
    font-family: 'Bruno Ace', cursive;
    font-size: 6vh;
    text-align: center;
    color: #00ffff;
    margin:0;
    text-shadow: 7px 2px 2px #e478b0;
}

img{
    max-width: 20vh;
    margin:auto;
    padding-bottom: 3vh;
}

#mainCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 65px;
}

#menuTab {
    display: none
}

.textCard {
    padding: 12px 17px;
    border-radius: 15px;
    border: 1px solid var(--pink);
    text-transform: uppercase;
    font-weight: 500;
    background-color: var(--lightOldBlack);
}

#signin{
    margin-top:3vh;
    width: 28.5vh;
}

.textCard:hover {
    background-color: var(--pink);
    box-shadow: 2px 2px 20px var(--pink);
}

#regbtn{
    text-decoration: none;
    color:var(--ghost);
}

.textCard:hover > #regbtn {
    color:var(--lighterOldBlack);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 40px #ff66b4;
    border-radius: 50px;
    min-height: 40vh;
    background-color: #262626;
    padding: 30px;
    margin-bottom: 4vh;
}

a {
    color: black;
    text-decoration: none;
}

.btn {
    background-color: #3a3a39;
    border-color: #00CAB1;
}

.btn:hover {
    background-color: #00fdde;
    box-shadow: 2px 2px 20px #00cab1;
    color: #3a3a39;
}

.btn:focus {
    background-color: #3a3a39;
    border-color: #00CAB1;
}

.btn:focus:hover {
    background-color: #00fdde;
    box-shadow: 2px 2px 20px #00cab1;
    color: #3a3a39;
}

.form-input {
    background-color: #e478b0;
    color: white;
}

label {
    text-shadow: 1px 1px 14px white;
    color: #00CAB1;
}