/* i wasnt able to access our notion doc to match colors with hex codes, so that remains to be done */
:root {
  --pink: #ff69b4;
  --magenta: #ff00ff;
  --purple: #800080;
  --indigo: #4b0082;
  --cyan: #00ffff;
  --darkPurple: #570074;
  --obsidian: #0f0f0f;
}

body {
  background-color: var(--obsidian);
}

.btn-red {
  background-color: rgb(255, 139, 139);
}

.neon-glow {
  font-family: 'Arial', sans-serif;
  font-size: 48px;
  color: var(--darkPurple);
  text-shadow: 0 0 5px var(--pink), 0 0 10px var(--pink), 0 0 15px var(--pink), 0 0 20px var(--magenta), 0 0 35px var(--magenta), 0 0 40px var(--magenta), 0 0 50px var(--magenta), 0 0 75px var(--purple);
}

.neon-glow-container {
  background-color: var(--indigo);
  padding: 20px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}