.btn-red {
  background-color: rgb(255, 139, 139);
}

#newCard {
  margin-bottom: 3vh;
}

.container {
  margin: auto;
}

.workouts{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:auto;
  background-color: azure;
}

.workCard {
  width: 250px;
    height: 400px;
    background-color: lightgrey;
    box-shadow: 7px 7px 5px grey;
    margin: 12px;
    border-radius: 10px;
}

/* .workoutCard {
  height: 400px;
  width: 300px;
  color: black;
  background-color: lightgrey;
  box-shadow: 7px 7px 5px rgb(55, 55, 55);
}

#workbtn {
  color: blue;
}

#workForm {
  visibility: hidden;
} */