@import 'master-stylesheet.css';

html{
    background-color: var(--oldBlack);
}

.muscleDrop{
    background-color: var(--lighterOldBlack);
    border-color:var(--neonTeal);
    color:var(--ghost);
}

.muscleDrop:hover{
    box-shadow: 2px 2px 20px var(--neonTeal);
}

.muscleDrop:focus{
    box-shadow: 2px 2px 20px var(--neonTeal);
    border-color:var(--neonTeal) !important;
    border:none;
}

#newCard {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    border-radius: 5px;
    width: auto;
}

.workbtn{
    background-color: var(--lighterOldBlack);
    border-color: var(--neonTeal);
}

.workbtn:hover{
    background-color: var(--cyan);
    box-shadow: 2px 2px 20px var(--neonTeal);
    color: var(--lighterOldBlack);
}

.workbtn:focus{
    background-color: var(--lighterOldBlack);
    border-color: var(--neonTeal);
}

.workbtn:focus:hover {
    background-color: var(--cyan);
    box-shadow: 2px 2px 20px var(--neonTeal);
    color: var(--lighterOldBlack);  
}
    
.workouts{
    display:flex;
    flex-wrap: wrap;
    height:auto;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}
    
.workCard {
    width: auto;
    height: auto;
    background-color: var(--lighterOldBlack);
    box-shadow: 2px 2px 20px var(--pink);
    margin: 13px;
    margin-bottom: 25px;
    border-radius:15px;
}
    
input[type=text], textarea {
    margin:4px 2.5%;
    display:inline-block;
    color:var(--ghost);
    border: 1px solid var(--neonTeal);
    background-color: var(--oldBlack);
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=text]:focus {
    outline:none;
    border-color: var(--cyan);
    background-color: var(--oldBlack);
    box-shadow: 0 0 10px var(--cyan);
}

.formbtn{
    background-color: var(--oldBlack);
    color: var(--ghost);
    border-color: var(--neonTeal);
    border-radius: 5px;
}

.formbtn:hover, .newExc:hover, .savebtn:hover{
    background-color: var(--cyan);
    box-shadow: 2px 2px 20px var(--neonTeal);
    color: var(--lighterOldBlack);
}

.formbtn:focus, .newExc:focus, .savebtn:focus{
    background-color: var(--oldBlack);
    border-color: var(--neonTeal);
}

.formbtn:focus:hover, .newExc:focus:hover, .savebtn:focus:hover {
    background-color: var(--cyan);
    box-shadow: 2px 2px 20px var(--neonTeal);
    color: var(--oldBlack); 
}

#exercise, #sets, #reps, #weight, .formbtn {
    margin:0;
    width:85% !important;
    margin-left:auto;
    margin-right:auto;
}

label {
    color:var(--ghost);
    /* text-shadow: 1px 1px 14px #f9f9f9; */
    margin:3% 5%;
}

.workoutForm {
    margin:0;
}

.workoutForm input[type=text]{
    margin:auto;
    width:90%;
}

.dualbtn{
    display:flex;
    justify-content: space-around;
}

.newExc, .savebtn{
    width:40%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: var(--lighterOldBlack);
    color: var(--ghost);
    border-color: var(--neonTeal);
    border-radius: 5px;
}

@media screen {
    
}