body{
    background-color: #292827;
}

#newCard {
        margin-bottom: 3vh;
    }
    
    .container {
        margin: auto;
    }
    
    .workouts{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width:100%;
        height:auto;
    }
    
    .workCard {
        width: 250px;
        height: 400px;
        color:white;
        background-color: #3a3a39;
        box-shadow: 7px 7px 5px black;
        margin: 12px;
        border-radius: 10px;
    }
    
    input[type=text], textarea {
        width:95%;
        padding:6px 10px;
        margin:4px 2.5%;
        display:inline-block;
        color:white;
        border: 1px solid #00CAB1;
        background-color: #292827;
        border-radius: 3px;
        box-sizing: border-box;
    }

    input[type=text]:focus {
        outline:none;
        border-color: #00fdde;
        box-shadow: 0 0 10px #00fdde;
    }

    label {
        margin:4px 2.5%;
    }

    /* .workoutForm {
        
    } */